<% @lists_name = 'リスト' %>

<%= render partial: 'search_message', locals: { item: @lists, name: @lists_name } %>

<ul class='lists search-margin'>
  <% @lists.each do |list| %>
    <li>
      <div class='contet'><%= link_to list.name, "lists/#{list.id}" %></div>
      <div class='timestamp right'>作成日 ： <%= convert_jp_date(list.created_at) %></div>
    </li>
  <% end %>
</ul>