<ul class='lists lists-margin'>
  <% @lists.each do |list| %>
    <li id="list-<%= list.id %>">
      <table>
        <tr>
          <th>
            <%= link_to list.name, list %>
            <p><%= list.posts.count %> 個中 <%= list.posts.where(complete_flg: 1).count %> 個がチェック済み</p>
            <p>作成日　： <%#= list.created_at.strftime("%Y年 %m月 %d日") %><%= convert_jp_date(list.created_at) %></p>
            <% if list.expiration_date.present? %>
              <p>有効期限： <%= list.expiration_date.strftime("%Y年 %m月 %d日") %></p>
            <% end %>
          </th>
          <th class='garbage'>
            <%= link_to image_tag('garbage.png'), list_path(list.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか' }, class: 'list_delete', remote: true %>
          </th>
        </tr>
      </table>
    </li>
  <% end %>
</ul>