<% @posts_name = 'TODO' %>

<%= render partial: 'search_message', locals: { item: @posts, name: @posts_name } %>

<ul class='lists search-margin'>
  <% @posts.each do |post| %>
  <li id="post-<%= post.id %>">
      <table>
        <tr>
          <th>
            <div class='content'><%= link_to post.content, "lists/#{post.list.id}" %></div>
            <p>リスト： <%= post.list.name %></p>
          </th>
          <th>
            <div class='timestamp right'>作成日 ： <%= convert_jp_date(post.created_at) %></div>
            <div class='timestamp right'>期　限 ： <%= convert_jp_date(post.expiration_date) %></div>
          </th>
        </tr>
      </table>
    </li>
  <% end %>
</ul>