<% if item.count != List.all.count && item.count > 0 %>
  <div class='alert alert-success'><%= name %>が <%= item.count %> 件見つかりました。</div>
<% elsif item.count == 0 %>
  <div class='alert alert-danger'><%= name %>が見つかりませんでした。</div>
<% end %>