<% provide(:title, 'Lists') %>

<p>新しいTODOを作成する</p>
<%= form_for @list do |f| %>

  <%= f.text_field :name, class: 'form_input' %>

  <%= f.submit 'リストの作成', class: 'btn btn-primary' %>

  <%= render 'shared/error_messages', object: f.object %>
<% end %>

<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>

<%= will_paginate @lists %>

<%= render 'lists' %>

<%= will_paginate @lists %>