<!-- 検索ページ -->

<!-- 検索フォーム -->
<%= form_for new_list_path, url: search_lists_path do |f| %>
  <p>
    <%= text_field_tag :search, params[:search], class: 'form_input'%>
    <%= submit_tag '検索', name: nil, class: 'btn btn-primary' %>
  </p>
<% end %>
<!-- 検索フォーム -->

<!-- 検索結果 -->
<% if @search_total != Post.all.count + List.all.count %>
  <%= render 'post_search' %>

  <%= render 'list_search' %>
<% end %>
<!-- 検索結果 -->