<%= provide(:title, @list.name) %>
<div class='title'>
  <h1><%= @list.name %></h1>
</div>

<!-- TODO作成フォーム -->
<p>新しいTODOを作成する</p>
<%= form_for @post do |f| %>
  <%= f.hidden_field :list_id, { 'list_id' => @list.id } %>

  <%= f.text_field :content, class: 'form_input', :placeholder => 'TODOを入力して下さい' %><br>
  <p>期　限</p>
  <%= f.date_field :expiration_date, class: 'form_input' %>

  <%= f.submit 'TODOの追加', class: 'btn btn-primary' %>

  <%= render 'shared/error_messages', object: f.object %>
<% end %>
<!-- TODO作成フォーム -->

<!-- 成功時メッセージ -->
<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>
<!-- 成功時メッセージ -->

<!-- TODOリスト -->
<% if @list.posts.any? %>
  <%= will_paginate @posts %>

  <ol class='posts'>
    <%= render @posts %>
  </ol>

  <%= will_paginate @posts %>
<% else %>
  <div class='alert alert-danger'>登録されたTODOはありません。</div>
<% end %>
<!-- TODOリスト -->

