<div class='center jumbotron'>
  <h1>Welcome to the ToDoApp</h1>

  <h2>
    This is the home page for the
    <a href='http://www.team-lab.com/'>Team.lab</a>
    sample application.
  </h2>

  <%= link_to 'Start now!', new_list_path, class: 'btn btn-lg btn-primary' %>
</div>