<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <%= link_to 'TODOリスト', new_list_path, id: 'logo' %>
    <nav>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to '検索', search_lists_path %></li>
      </ul>
    </nav>
  </div>
</header>