<li id="post-<%= post.id %>">
  <table>
    <tr>
      <th>
        <!-- TODO一覧 -->
        <div class='content'><%= post.content %></div>
        <div class='timestamp'>
          作成日 ： <%= convert_jp_date(post.created_at) %>
        </div>
        <div class='timestamp'>
          期　限 ： <%= convert_jp_date(post.expiration_date) %>
        </div>
        <!-- TODO一覧 -->
      </th>
      <!-- 完了ボタン -->
      <th class='button'>
        <%= form_tag( { controller: 'lists', action: 'toggle_action' }, remote: true ) do %>
          <%= hidden_field_tag :id, post.id  %>
            <% if post.complete_flg == 0 %>
              <%= submit_tag('未完了', id: 'incomplete', class: 'btn btn-danger comp-btn') %>
            <% else %>
              <%= submit_tag('完了', id: 'complete', class: 'btn btn-success active comp-btn') %>
            <% end %>
        <% end %>
      </th>
      <th class="garbage">
        <%= link_to image_tag('garbage.png'), post_path(post.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか' }, class: 'post_delete', remote: true %>
      </th>
      <!-- 完了ボタン -->
    </tr>
  </table>
</li>