@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.garbage {
  vertical-align: bottom;
  text-align: right;
  padding-right: 30px;
}

.title {
  h1{
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7;
  margin-bottom: 0;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* forms */

input, button, textarea, select {
  border: 1px solid #bbb;
  height: 30px;
  font-size: 1.5em;
  @include box_sizing;
}

#error_explanation {
  color: red;
}

.alert {
  margin-top: 15px;
}

/* All List */

.lists {
  list-style: none;
  padding-left: 0;
  li {
    font-size: 1.5em;
    overflow: auto;
    padding: 20px;
    margin-bottom: 10px;
    border: 3px solid $gray-lighter;
    p {
      font-size: 0.8em;
    }
   .timestamp {
      color: $gray-light;
      display: block;
      margin-left: 60px;
    }
    .right {
      font-size: 0.8em;
      text-align: right;
      margin-right: 30px;
    }
    table {
      width: 100%;
      th {
        font-weight: normal;
      }
    }
  }
}

.lists-margin {
  margin-top: 30px;
}

/* input form */

.form_input {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn {
  display: inline-block;
  width: 110px;
}

/* All posts */

.posts {
  list-style: none;
  padding: 30px 0 0;
  li {
    width: 90%;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    table {
      width: 100%;
      th {
        font-weight: normal;
      }
      .button {
      text-align: right;
      }
    }
  }
  .list {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    font-size: 1.3em;
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

/* search lists */

.search-margin {
  margin-top: 30px;
}

.pagination {
  margin-bottom: 0;
}