<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'partials/rails_default' %>
  </head>

  <body>
    <%= render 'partials/header' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
